html, body {
    background: white;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: small;
}

#mapdiv {
    width: 100%;
    height: 100%;
    position: fixed;
    border: 1px black solid;
    top: 51px;
    left: 2px;
    padding: 0px;
    margin: 0px;
    z-index: 50;
}
.gopopup {
    top: 51px;
    left: 2px;
    position: absolute;
    background: white;
    width: 85%;
    border: 1px #00aadd solid;
    padding: 0px;
    margin: 1px;
    z-index: 100;
    opacity: 0.9;

}

.fieldError {
    background: #f8b5b5;
    color: #a94442;
    opacity: 0.5;
    border: 2px solid red;
}


.panel-heading span
{
    margin-top: -26px;
    font-size: 15px;
    margin-right: -12px;
}

.panel-body {
    padding: 15px 15px 0px 10px;
}
.clickable {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
}

#slide_left_button {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 10px 6px 10px 6px;
    border-radius: 15px;
    cursor: pointer;
    top: 37px;
    right: -28px;
}

.container {
    max-width: 100%;
}

.ol-mouse-position {
    font-family: Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    width: 100px;
    height: 20px;
    z-index: 1500;
    color: black;
    top: 2px;
    right: 2px;
    padding: 2px;
    border: black;
}

.ol-zoom {
    right: 1em;
    top: 5em;
    left: auto;
}

.ol-control button  {
    width: 2em;
    height: 2em;
}

.ol-zoomslider {
    right: 1em;
    top: 10em;
    left: auto;
}

.layer-switcher {
    top: 1.3em;
    right: 1em;
}


:local(.boxDebug){
    background: lightblue;
    padding: 0.3rem;
    border: 1px double black;
}

#dropdownMenu1{
    display: none;
}

#applogo{

    padding: 2px 2px 2px 2px;
}

#info_id_affaire_goeland{
    margin-right: 0.5em;
    padding-left: 1em;
}

/*#applogo img{
    position: inherit;
    top : 1px;
    left: 1px;
}

nav .container-fluid{
    padding-right: 2px;
    padding-left: 2px;
}*/

@media  screen and (min-width: 768px) {

    .gopopup{
        width: 55%;
    }

    .navbar-form{
        padding-left:10px;
        padding-right:10px
    }

    #info_current_mode{
        display: none;
    }
    #slide_left_button{
        display: none;
    }
    #dropdownMenu1{
        display: inherit;
    }

}

